body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #00110e;
    font-family: 'Open Sans', sans-serif;
 }
 select {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
    font-family: "Roboto", sans-serif;
    background: #000000;
   
    border:0!important;
  
    

    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    
 }
 
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #01241d;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #000000;
 }